<%- include('./partials/header') %>
    
<h6 id="homepage">Trip Planner is a comprehensive full-stack application that empowers you to effortlessly organize and enhance your trips. With a user-friendly interface, it allows you to manage trips and collaborate with friends in the preparations process.</h6>

<%- include('./partials/footer') %>