* {
    box-sizing: border-box;
    font-family: Verdana;
    /* color: #424748; */
    text-align: center;
}
  
body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 50px;
    grid-template-areas: 
        "header"
        "main"
        "footer"
}
  
/* body > nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 30px;
}

nav > a {
    font-size: 3vmin;
    color: black;
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
} */

header {
    width: 100%;
    align-items: center;
    justify-self: center;
}

header > img {
    height: 15vmin;
    display: block;
    object-fit: contain;
    margin: 10px auto;
}

/* .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
} */

h1 {
    font-size: 10vmin;
    font-family: 'Dancing Script', cursive;
    margin: 20px;
}

footer {
    font-size: 13px;
    padding-top: 15px;
    color: white;
    background-color: rgb(96, 115, 61);
}

article {
    margin: 20px;
}

.navbar {
    color: white;
    background-color: rgb(96, 115, 61);
}

a > img {
    height: 3vh;
}

#new-trip-form {
  display: grid;
  grid-gap: 10px;
  margin: auto 10px;
  grid-template-columns: repeat(2, minmax(auto, 30vh));
  justify-content: center;
}

#new-trip-form input[type="submit"] {
    grid-column: span 2;
    width: 10rem;
    justify-self: center;
    margin: 20px 0;
  }

#trip-desc-box {
height: 15vh;
}

.comments-layout {
display: block;
padding: 5px;
margin: 10px 20px;
}

td > img {
border-radius: 50%;
height: 50px;
}
