* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: #424748;
}
  
body {
    margin: 0;
    height: 100vh;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr 50px;
    grid-template-areas: 
        "header"
        "main"
        "footer"
}
  
body > nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 30px;
}

nav > a {
    color: black;
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

nav > a:hover:not(.active) {
    color: white;
    background-color: rgb(96, 115, 61);
}

nav > a.active {
    color: white;
    background-color: rgb(96, 115, 61);
    cursor: default;
}

header {
    align-items: center;
    justify-self: center;
}

header > img {
    height: 15vmin;
    display: block;
    object-fit: contain;
    margin: 10px auto;
}

/* .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
} */

h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
}

article {
    text-align: center;
    margin: 50px;
}