<%- include('../partials/header') %>

<form id="trip-new-form" action="/trips" method="POST">
    <label class="form-label">Trip Name:</label>
    <div class="mb-3">
        <input class="form-control form-text" type="text" name="tripName" required>
    </div>
    <label class="form-label">Trip Start Date:</label>
    <div class="mb-3">
        <input class="form-control mx-sm-3" type="date" name="tripStartDate" required>
    </div>
    <label class="form-label">Trip End Date:</label>
    <div class="mb-3">
        <input class="form-control mx-sm-3" type="date" name="tripEndDate" required>
    </div>
    <label class="form-label">Trip Description:</label>
    <div class="mb-3">
        <textarea class="form-control form-text" type="text" name="tripDesc" required></textarea>
    </div>
    <div>
        <input type="submit" class="btn btn-outline-primary btn-sm" value="Start Planning">
    </div>
</form>

<%- include('../partials/footer') %>